@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
  font-size: 15px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "League Spartan", sans-serif;
}

body {
  font-family: "Karla";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: hsl(204deg, 43%, 93%);
}

.card {
  display: grid;
  grid-template-columns: 320px;
  max-width: 85%;
  margin: 70px 0;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-community {
  background: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}
.card-community__title {
  font-size: 22px;
  font-family: "Karla";
  color: hsl(179deg, 62%, 43%);
  padding-bottom: 20px;
  font-weight: 700;
}
.card-community__subtitle {
  font-family: "Karla";
  color: hsl(71deg, 73%, 54%);
  font-size: 17px;
  padding-bottom: 20px;
}
.card-community__description {
  font-family: "Karla";
  color: hsl(218deg, 22%, 67%);
  line-height: 1.6;
  font-size: inherit;
  padding-bottom: 20px;
}

.card-subscription {
  background: hsl(179deg, 62%, 43%);
  padding: 20px;
}
.card-subscription__title {
  font-size: 22px;
  color: white;
  padding-bottom: 20px;
  font-family: "Karla";
}
.card-subscription__subtitle {
  font-family: "Karla";
  display: flex;
  gap: 7px;
  color: white;
  font-size: 28px;
  padding-bottom: 20px;
}
.card-subscription__subtitle_span {
  margin-top: 7px;
  font-size: 15px;
  color: hsl(204deg, 43%, 93%);
  font-weight: 100;
}
.card-subscription__description {
  font-family: "Karla";
  color: white;
  line-height: 1.6;
  font-size: inherit;
  padding-bottom: 20px;
}
.card-subscription__button {
  border: none;
  font-weight: 700;
  background: hsl(71deg, 73%, 54%);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  color: white;
  width: 100%;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card-subscription__button:hover {
  background-color: none;
}

.card-aboutUs {
  background: #4abebd;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}
.card-aboutUs__title {
  font-size: 22px;
  font-family: "Karla";
  color: white;
  padding-bottom: 20px;
  font-size: 20px;
}
.card-aboutUs__description {
  color: hsl(204deg, 43%, 93%);
  line-height: 1.6;
  font-family: "Karla";
  padding-bottom: 20px;
}

@media (min-width: 1440px) {
  .card {
    grid-template-rows: 230px 280px;
    grid-template-columns: 350px 350px;
    grid-template-areas: "community  community" "subscription aboutUs";
  }
  .card-community {
    grid-area: community;
    padding: 40px;
  }
  .card-community__description {
    width: 90%;
  }
  .card-subscription {
    padding: 40px;
    border-radius: 0 0 0 10px;
  }
  .card-subscription__card-description {
    margin-top: -5px;
  }
  .card-aboutUs {
    padding: 40px;
    border-radius: 0 0 10px 0;
  }
  .card-aboutUs__description {
    line-height: 1.4;
  }
}/*# sourceMappingURL=style.css.map */